header#main-header{
    width: 100%;
    height: 60px;
    background: #da55da;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}